@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Вітаємо в Аптечному Обліку</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <header class="site-header">
        <div class="header-container">
            <a href="@Url.Action("Login", "Account")" class="button">Вхід</a>
            <a href="@Url.Action("Register", "Account")" class="button">Реєстрація</a>
        </div>
    </header>

    <main class="Main">
        <h1>Ласкаво просимо до системи Аптечного Обліку</h1>
        <p>
            Ця програма дозволяє переглядати та купувати медикаменти, а також управляти ними, якщо ви лікар.<br />
            Для початку роботи, будь ласка, увійдіть або зареєструйтесь.
        </p>
    </main>

  


</body>
</html>
